[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
vpype = "*"
shapely = "*"
pronouncing = "*"
traces = "*"
webvtt-py = "*"
vsketch = {git = "https://github.com/abey79/vsketch"}

[dev-packages]

[requires]
python_version = "3.9"
